$white: #f8f8ff;
$bg: #1c2833;
$bright-green: #c8f200;
$dull-green: #818c26;
$tomato: tomato;
$lightsteel: #b0c4de;

.text-white {
  color: $white;
}

.text-green {
  color: #00bfff;
}

.text-tomato {
  color: tomato;
}
